.body {
    background-color:darkred;
}

.navbar{
    background-color: #f1ebcc;

}
.column_name{
    margin-top: 3vw;
    background-color: white;
}
.row{
    background-color: white;
}
footer{
    color: #f1ebcc;
    display: flex;
    padding-left: 35vw;
    margin-top: 10vw;
    width: 100%;
    height: auto;
    font-size: 2vw;
}